img,
svg {
  max-width: 100%;
  height: 255px;
  border-radius: 1em 1em 0 0;
  vertical-align: top;
  flex-shrink: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background: #ece9e6bd;
  text-align: center;
}

.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__body {
  padding: 1rem;
  text-align: center;
}

figcaption {
  text-align: center;
  display: relative;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.readButton {
  border: none;
  border-radius: 5px;
  background-color: white;
  position: relative;
  width: 80px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.5s;
}

.readButton:hover {
  background-color: #0a0926;
  color: white;
}

#box1 {
  grid-area: box1;
}
#box2 {
  grid-area: box2;
}
#box3 {
  grid-area: box3;
}
