header {
  grid-area: nav;
}

h1 {
  color: white;
  padding-left: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.navItems {
  display: flex;
  list-style: none;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
